@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');

:root {
    --primary: #FFFFFF;
    --accent: #0A417A;

    --color-bg: var(--primary);
    --color-text: var(--accent);

    --font-sans: "Unbounded", system-ui, -apple-system, sans-serif;
}

body {
    font-family: var(--font-sans);
    font-size: clamp(1rem, 1rem + 0.45vw, 1.25rem);
    line-height: 150%;
    color: var(--color-text);
    background: var(--color-bg);
}

h1 {
    margin-bottom: 1rem;
    text-transform: uppercase;
    font-weight: bold;
}

h2 {
    margin-bottom: 1rem;
}

p {
    margin-bottom: 2rem;
}

a {
    color: var(--accent)
}

em {
    font-style: italic;
}

strong {
    font-weight: bold;
}
