---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="інок">
    <div class="wrapper">
        <div class="text">
            <h2>Інок хто?</h2>
            <p>
                Інок — це студентська ініціятива, що передусім має вияв у художньо-публіцистичному віснику. Тематичний акцент – філософсько-релігійна площина, проте не існує чітких обмежень.
            </p>

            <h2>Інок куди?</h2>
            <p>
                Мета нашого обʼєднання у пошуку нових форм, смислів, у розтлумаченні цієї та іншої реальности тощо. Проте вважаємо, що нові форми та їх тлумачення не можливе без оволодіння старими, клясичними засобами. Тож однаково вітаємо старе й нове, давнє і майбутнє, непригадане і ще не забуте.
            </p>

            <h2>Інок смисл?</h2>
            <p>
                Смислові чи навіть ціннісні орієнтири визначають самі автори, проте на певні етичні застереження мусимо звертати увагу (важливо, щоб загальна риторика наданих творів не виходила поза межі, визначені Законами України та Статутом НаУКМА). Себто нині на окремий номер певного смислового цензу не передвизначено (тематичний акцент  лишається суто рекомендованим). Проте зауважте, що подальше обʼєднання погоджених творів на основі співтематичности може здійснюватися редакційною колегією в автономному режимі.
            </p>

            <h2>Інок кому?</h2>
            <p>
                Попри те, що нашим ядром є Могилянка, ми відкриті для усіх. Тобто не обовʼязково бути повʼязаним з університетом, щоб претендувати на публікацію. Детальніше див. умови подання творів *(можна посилання сюда на текст про подання творів дякую спасибі ага дякую).
            </p>
        </div>

        <figure>
            <img src="/inok/assets/інок.png" alt="">
        </figure>
    </div>
</BaseLayout>

<style>
    body {
        background: #EFEFEF;
    }

    h2 {
        font-weight: 700;
    }

    .wrapper {
        display: flex;
        gap: 2rem;
        align-items: center;
    }

    @media (max-width: 768px) {
        .wrapper {
            flex-direction: column;
        }
    }

    .text,
    .image {
        flex: 1;
    }

    .image {
        width: 100%;
        height: auto;
    }
</style>