---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="подання творів">
    <div class="wrapper">
        <div class="text">
            <p>
                Подання творів здійснюється через <a href="https://forms.gle/uBX61Te4eSMXVP398" target="_blank">ґуґл форми</a> у терміни, оприлюднених нами на офіційних ресурсах.
                Ми не маємо жодних обмежень до особи, яка претендує на публікацію, а передусім звертаємо увагу на пристрасть думки (тобто взаємодію форми з ідеєю) та відповідність сучасному літературному, філософському та релігієзнавчому дискурсам.
            </p>

            <p>
                Жанри та обсяги: приймаємо поезію (до 50 рядків), прозу (до 20.000 символів з пробілами), публіцистику: есеїстику, статті, критику, інтерв’ю тощо (до 20.000 символів).
            </p>

            <p>
                Зауважте, що існує можливість більш гнучкої співпраці: за наявності бажання подати на розгляд більші за обсягом твори комунікуйте напряму з редакцією: <a href="mailto:inok.paper@gmail.com">inok.paper@gmail.com</a>
                Улюблені формати нашої редакції .rtf .doc .docx — превелебно просимо на це звернути увагу.
            </p>

            <p>
                Основна мова творів лише українська.
            </p>
        </div>

        <figure>
            <img src="/assets/подання%20творів.png" alt="" width="350px">
        </figure>
    </div>
</BaseLayout>

<style>
    .wrapper {
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
        align-items: center;
    }
</style>
