---
import { getCollection } from "astro:content";

import BaseLayout from "../../layouts/BaseLayout.astro";
import { generateSlug } from "../../utils.ts";

const events = await getCollection("events");

events.sort(
    (a: any, b: any) => b.data.date.getTime() - a.data.date.getTime()
);
---

<BaseLayout title="події">
    <div class="grid">
        {events.map((event: any) => (
                <a class="card" href={`/inok/events/${generateSlug(event.data.title)}`}>
                    <h2>{event.data.title}</h2>

                    <img
                            src={event.data.coverUrl}
                            alt={event.data.title}
                            width="300px"
                    />
                </a>
        ))}
    </div>
</BaseLayout>

<style>
    .card {
        display: inline-block;
        padding: 16px;
    }
</style>
